/* Menú principal */
nav {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

#img-nav {
    margin: 10px 15px 0px 10px;
}

nav span {
    margin-right: 20px;
}

nav span a {
    color: white;
    text-decoration: none;
}
